<footer>
    <div class="row">
        <p> &copy;2019 JERRY & MARK PROG8080 ASSIGNMENT II <br>ALL RIGHTS RESERVED 
        </p>
    </div>
</footer>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>