<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jerry's Online Store</title>
    
    <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/grid.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <script src="js/form.js"></script>
</head>
    
    <body>
        <header>
            <img src="css/img/logo.png" alt="audi logo">
            <div class="titleBox">
                <h1>Leading-Edge design<br>2020 audi r8</h1>
            </div>
        </header>
    <section class="section-features">
        <div class="row">
            <h2>Some legends are real <br> R8 Performance </h2>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <div class="performance-info">
                    <p class="spec">Power up to <br><span> 602 </span> HP </p>
                </div>
            </div>
            <div class="col span-1-of-3">
                <div class="performance-info">
                    <p class="spec">0-100 km/h in as little as <br><span> 3.3 </span> seconds </p>
                </div>
            </div>
            <div class="col span-1-of-3">
                <div class="performance-info lastchild">
                    <p class="spec">Top speed up to<br><span> 330 </span> km/h </p>
                </div>
            </div>
        </div>
    </section>